#projects{
  background: radial-gradient(#182153, #aeb4d4 30%);
  padding-top: 20px;
  padding-bottom: 100px; 
  min-height: 100vh;
}
.gallery {
  margin-top: 40px; 
}
.rounded-lg{
  border-radius: 20px;
}
.rounded-sm{
  border-radius: 10px;
}
.item {
  margin-top: 25px;
  transition: all .5s ease-in; 
}
.project {
  position: relative;
  transition: .2s all ease-in;
}
.project-col{
  transition: .2s all ease-in;
}
.project img{
  box-shadow: 0 0 10px 0 #292b2c;
  transition: .2s all ease-in;
}
.project-overlay {
  position: absolute;
  background: rgba(24, 33, 83, 0.8);
  height: 100%;
  width: 100%;
  top: 0;
  color: white;
  display: none;
  z-index: 2;
}
.project-name{
  font-size: 24px;
  margin: 20px 20px;
  line-height: 35px;
}
.project-data{
  font-size: 20px;
  margin: 20px 20px;
  line-height: 30px;
}
.project-btn{
  cursor: pointer;
}
.project-btn:hover,
.project-btn:focus,
.project-btn:active{
  box-shadow: 0 0 0 1px #aeb4d4;
}
@media(max-width:1200px){
  .project-name{
    font-size: 20px;
    line-height: 28px;
  }
  .project-data{
    font-size: 16px;
    line-height: 16px;
  }
}
@media(max-width:767.5px){
  .project-name{
    font-size: 16px;
    margin: 12px 20px;
    line-height: 20px;
  }
  .project-data{
    font-size: 14px;
    margin: 12px 20px;
    line-height: 16px;
  }
}
@media(max-width:567.5px){
  .project-name{
    font-size: 18px;
    margin: 16px 20px;
    line-height: 24px;
  }
  .project-data{
    font-size: 16px;
    margin: 16px 20px;
    line-height: 22px;
  }
}
.category {
  background: rgba(24, 33, 83, 0.4);
  left: 0px;
  top: 20px;
  padding: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  position: absolute;
  font-weight: bold;
  font-size: 15px;
  box-shadow: 5px 5px 10px 0px #292b2c;
  z-index: 2;
}
@media (max-width: 575px) {
  .item img,
  .project-overlay{
    width: 90%; 
  }
  .project-overlay{
    margin-left: 5%; 
  }
  .category {
    left: 5%;
  }
}
.overlay-gallery {
  padding: 7% 10%;
  background-color: rgba(4, 4, 4, 0.4);
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 1;
  opacity: 0;
  margin-top: -100vh;
  transition: all 1s ease-in; 
}
.overlay-gallery:target {
  opacity: 1;
  margin-top: 0;
}
.overlay-gallery img {
  border: 5px solid #efefef;
}
.details-cont{
  position: relative;
  background: rgb(10,10,10);
}
.gallery-text h3 {
  font-size: 20px;
  line-height: 30px;
}
.gallery-text h5 {
  font-size: 18px;
  line-height: 25px;
}
.gallery-text p{
  font-size: 16px;
}
a.close {
  font-size: 20px;
  color: white;
  position: absolute;
  top: 1%;
  left: .6%;
  text-shadow: none;
}
a.close:hover{
  text-shadow: none;
  color: red;
}
@media (max-width: 992px) {
  .overlay-gallery {
    padding: 11% 0 0 0;
    margin-top: 100vh; 
  }
  .overlay-gallery:target {
    margin-top: 0; 
  }
}
@media (max-width: 575px) {
  .overlay-gallery {
    padding: 15% 2%; 
  }
}
