#education {
    padding-top: 40px;
    padding-bottom: 60px;
    background-color: #aeb4d4; 
}
.education-title h2:after {
    height: 400%;
    background-color: #182153; 
}
@media (max-width: 1200px) and (min-width: 992px) {
    .education-title h2:after {
        height: 460%; 
    } 
}
@media (max-width: 992px) and (min-width: 768px) {
    .education-title h2:after {
        height: 590%; 
    } 
}
@media (max-width: 768px) and (min-width: 576px) {
    .education-title h2:after {
        height: 707%; 
    } 
}
@media (max-width: 576px) {
    .education-title h2:after {
        display: none; 
    } 
}

  