.c-button{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 500px;
}
.c-btn{
    font-size: spacing("base");
    font-weight: bold;
    line-height: spacing("wide");
    text-align: center;
    color: $color-dark;
    position: relative;
    display: block;
    margin: 0 spacing("none");
    padding: 0 spacing("mini-small");
    background-color: #fff;
    border: 1px solid $color-dark;
    text-decoration: none;
    text-transform: uppercase;
    transform-style: flat;
    transition: all 250ms ease-out;
    cursor: pointer;
    &:before,
    &:after {
        content: "";
        position: absolute;
        z-index: -2;
        transition: all 250ms ease-out;
    }
    &:focus{
    outline: none;
    }
}
.paper {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(128, 128, 128, 0.1) inset;
    border-color: #dedede;
    &:hover,&:focus,&.active{
        color: $color-brand;
    }
}
.paper-raise {
    &:before {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    &:hover,&:focus,&.active {
        border-color: #fff;
        &:before {
            box-shadow: 0 15px 10px -10px rgba(31, 31, 31, 0.5);
        }
    }
}

.paper-raise-flatten {
    border-color: #fff;
    box-shadow: none;
    
    &:before {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-shadow: 0 15px 10px -10px rgba(31, 31, 31, 0.5);
    }
    &:hover,&:focus,&.active {
        border-color: #dedede;
        &:before {
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(128, 128, 128, 0.1) inset;
        }
    }
}
  
.paper-lift {
    &:before,
    &:after {
        bottom: 15px;
        width: 50%;
        height: 20%;
        max-width: 300px;
        max-height: 100px;
        box-shadow: 0 10px 10px rgba(31, 31, 31, 0.5);
    }
    &:before {
        left: 8px;
        transform: rotate(-3deg);
        }
    &:after {
        right: 8px;
        transform: rotate(3deg);
        }

    &:hover,&:focus,&.active {
        border-color: transparent;
        &:before,
        &:after {
            box-shadow: 0 15px 12px rgba(31, 31, 31, 0.7);
        }
        &:before {
            left: 10px;
        }
        &:after {
            right: 10px;
        }
    }
}
.paper-flatten {
    border: 1px solid transparent;
    &:before,
    &:after {
        bottom: 15px;
        width: 50%;
        height: 20%;
        max-width: 300px;
        max-height: 100px; 
        box-shadow: 0 15px 12px rgba(31, 31, 31, 0.7);
    }
    &:before {
        left: 10px;
        transform: rotate(-3deg);
    }
    &:after {
        right: 10px;
        transform: rotate(3deg);
    }
    &:hover,&:focus,&.active {
        border-color: #ccc;       
        &:before,
        &:after {
            transition: box-shadow 600ms ease-out, left 200ms, right 200ms;
            box-shadow: 0 8px 8px rgba(31, 31, 31, 0.5);
        }
        &:before {
            left: 5px;
        }
        &:after {
            right: 5px;
        }
    }
    @media(max-width: 991.5px){
        &:hover,&:focus,&.active{
            border: 1px solid $color-dark;
        }
    }
}
.paper-curl,
.paper-curl-right,
.paper-curl-left {  
    &:before,
    &:after {
        bottom: 12px;
        width: 50%;
        height: 55%;
        max-width: 200px;
        max-height: 100px;
        box-shadow: 1px 8px 12px rgba(31, 31, 31, 0.6);
    }
    &:before {
        left: 10px;
    }
    &:after {
        right: 10px;
    }
    &:hover,&:focus,&.active {
        &:before,
        &:after {
        box-shadow: 1px 8px 12px rgba(31, 31, 31, 0.8);
        }
        &:before {
            transform: skew(-8deg) rotate(-3deg);
        }
        &:after {
            transform: skew(8deg) rotate(3deg);
        }
    }
}
.paper-curl {
    &:hover,&:focus,&.active {
        border-radius: 0 0 40% 40% / 0 0 30% 30%;
    }
}
.paper-curl-right {
    &:before {
        display: none;
    }  
    &:hover,&:focus,&.active {
        border-radius: 0 0 40% 0 / 0 0 30% 0;
    }
}
.paper-curl-left {
    &:after {
        display: none;
    }  
    &:hover,&:focus,&.active {
        border-radius: 0 0 0 40% / 0 0 0 30%;
    }
}
.footerLink {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px 15px; 
    color: #fff;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 5px 0 0 0;
    text-decoration: none;
    transition: 300ms;  
    &:hover,&:focus,&.active {
    background-color: rgba(60, 60, 60, 0.8);
    }
}


