body {
  font-family: 'comic sans ms' ,  'Times New Roman', Times, serif; }

.container-fluid {
  padding: 0; 
}
section{
  min-height: 100vh;
}
.row {
  margin-left: 0;
  margin-right: 0; 
}
.dark-blue {
  color : #182153;
}
.container {
  padding-left: 0;
  padding-right: 0; 
}
.trans{
  transition: 0.5s all ease-in;
}
.title h2,
.title h2,
.title h2{
  padding-top: 40px;
  padding-bottom: 40px;
  color: #182153;
  position: relative; 
}
.title h2:before,
.title h2:after
{
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.title h2:before{
  width: 100px;
  height: 3px;
  top: 100px;
  background-color: #182153; 
}
.d-title h2:after{
  width: 3px;
  top: 175px;
}
.dot{
  padding-right: 25px;
  position: relative;
  margin-top: 40px; 
}
.dot h4{
  font-size: 18px;
  font-weight: bold; 
}
.dot h5 {
  font-size: 18px; 
}
.dot:before {
  content: "";
  background-color: #182153;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 5px;
  right: -5px;
  border-radius: 50%; 
}
@media (max-width: 576px) {
  .dot {
    text-align: center; 
  }
  .dot:before {
    display: none; 
  } 
}
.right-side {
  margin-top: 40px;
  padding-left: 25px; 
}
.right-side h3 {
  font-size: 18px;
  font-weight: bold; 
}
.right-side p {
  font-size: 16px;
  line-height: 24px;
  text-align: justify; 
}
@media (max-width: 576px) {
  .right-side {
      margin-top: 20px; 
  } 
}
#introduce {
  padding-top: 180px;
  padding-bottom: 120px;
  background-color: #aeb4d4;
  position: relative; 
}
#introduce .title h1 {
  font-size: 32px;
  margin-bottom: 40px; 
}
#introduce p.int-body {
  font-size: 18px;
  line-height: 35px;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  text-align: justify; 
}

#skills {
  padding-top: 40px;
  padding-bottom: 60px; 
}

.c-btn {
  position: relative;
  z-index: 1;
  background: white;
  color: #182153;
  box-shadow: none;
}
.c-btn:focus,
.c-btn:hover{
  box-shadow: none;
  background: #182153;
  color: white;
  transition: 0.5s all ease-in;
}
.i-btn{
  box-shadow: 0 0 0 1px #aeb4d4;
}
.up-btn{
  position: fixed;
  left: 5%;
  bottom: 5%;
  padding: 0;
  margin: 0;
}
.up-btn:hover,
.up-btn:focus{
  bottom: 6%;
  transition: 0.5s all ease-in;
  box-shadow: none;
}
.icon-circle-up{
  font-size: 30px;
}