
/* Markup */

.content {
    position: fixed;
    width: 300px;
    left: 50%;
    bottom: 0;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
  .content p {
    margin: 0 0 5px;
  }
  
  /* Arrow & Hover Animation */
  #more-arrows {
    width: 75px;
    height: 65px;
    cursor: pointer;
  }
  #more-arrows:hover polygon {
    fill: #182153;
    transition: all 0.2s ease-out;
  }
  #more-arrows:hover polygon.arrow-bottom {
    -webkit-transform: translateY(-18px);
            transform: translateY(-18px);
  }
  #more-arrows:hover polygon.arrow-top {
    -webkit-transform: translateY(18px);
            transform: translateY(18px);
  }
  
  polygon {
    fill: #182153;
    transition: all 0.2s ease-out;
  }
  polygon.arrow-middle {
    opacity: 0.75;
  }
  polygon.arrow-top {
    opacity: 0.5;
  }
  