#intro{
  background: radial-gradient(#aeb4d4, #182153);
  min-height: 100vh;
}
.overlay {
  background: rgba(13, 15, 19, 0.4);
  padding-top: 180px;
  min-height: 100%; 
}
header{
  padding-top: 50px;
}
.half {
  padding-left: 0;
  padding-right: 0;
}
.personal-info {
  background-color: white;
  height: 100%;
  padding: 40px;
  opacity: .85; 
}
@media (max-width: 992px) and (min-width: 768px){
  .personal-info {
    padding: 30px; 
  }
}
@media (max-width: 767px) {
  .personal-info {
    padding: 15px; 
  } 
}
.intro-title h2 {
  font-size: 30px;
  line-height: 45px;
  margin: 0; 
}
.intro-title h5 {
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  margin-bottom: 20px; 
}
.sub-title {
  font-size: 16px;
  font-weight: bold; 
}
p.top-adress {
  margin-bottom: 0; 
}

.photo {
  background-color: white;
  height: 100%;
  opacity: 0.95;
}
.photo img {
  width: 100%;
  height: 100%;
}
.intro-social {
  background:transparent;
}
.intro-social-icons {
  line-height: 60px;
  width: 100%;
}
.social-icons {
  line-height: 75px;
  width: 100%;
}
.social-icons ul,
.intro-social-icons ul {
  padding: 0;
  margin: 0; 
}
.social-link {
  color: #182153;
  padding: 15px;
}
.social-link i.icon {
  font-size: 26px; 
}
.social-link:hover, 
.social-link:active, 
.social-link:focus {
  text-decoration: none;
}
.icon-twitter{
  color: #55acee;
}
.icon-linkedin2{
  color: #0077B5;
}
.social-link:hover .icon, 
.social-link:active .icon, 
.social-link:focus .icon{
  color: #182153;
}
